<h1>Editing Notification</h1>

<%= render 'form', notification: @notification %>

<%= link_to 'Show', @notification,class: "btn btn-primary" %> |
<%= link_to 'Back', notifications_path,class: "btn btn-primary" %>
