<div class="jumbotron abc">
<div class="container">

    <h2>New Notifications</h2>
     <hr class="featurette-divider1">

<%= render 'form', notification: @notification %>

<%= link_to 'Back', notifications_path, class: "btn btn-primary"%>
</div>
</div>
