<div class="jumbotron abc">
<h2>Editing Contact Us From</h2>

<%= render 'form', contact_u: @contact_u %>

<%= link_to 'Show', @contact_u,class: "btn btn-primary" %> |
<%= link_to 'Back', contact_us_path,class: "btn btn-primary" %>
</div>
