<div class="jumbotron abc">
<div class="container">
     <hr class="featurette-divider1">

<h2>Contact Us Form</h2>

<%= render 'form', contact_u: @contact_u %>

<%= link_to 'Back', contact_us_path,class: "btn btn-primary" %>
</div>
</div>
