<% content_for :title do %>About<% end %>
<div class="jumbotron abc">
      <div class="container">
        <h2 style="text-align: center;">About this website.</h2>
        <br/>
        <h4>This website is developed as part of the "Database Systems" lab project. Here, a user can store all his institute related IP Assets online and access them. An optimised database system with the backbone of an advanced database design powers this website.</h4>
        <h3>Technologies used:</h3>
        <div class="w3-margin-top w3-margin-bottom w3-margin-left">
        <a class="btn btn-primary">Ruby on rails</a>
        <a class="btn btn-primary">Devise</a>
        <a class="btn btn-primary">Bootstrap</a>
        <a class="btn btn-primary">Html</a>
        <a class="btn btn-primary">Css</a>
        <a class="btn btn-primary">Javascript</a></div>
        <h3>Check our team of developers below!</h3></p>
      </div>

    </div>
    <div class="jumbotron abc">
      <div class="container">
    <!-- Left to right-->
<div class="row">
  <div class="col-sm-3">
 
    <!-- normal -->
    <div class="ih-item circle effect3 left_to_right"><a href="#">
        <div class="img"><%= image_tag("10.jpg", :alt => "Sorry, could nor load image!") %></div>
        <div class="info">
          <h3 style="color:white">Likitha S.</h3>
          <p>IMT2014030</p>
        </div></a></div>
    <!-- end normal -->
 
  </div>
  <div class="col-sm-3">
 
    <!-- colored -->
    <div class="ih-item circle colored effect3 left_to_right"><a href="#">
        <div class="img"><%= image_tag("11.jpg", :alt => "Sorry, could nor load image!") %></div>
        <div class="info">
          <h3 style="color:white">N. Mounika</h3>
          <p>IMT2014035</p>
        </div></a></div>
    <!-- end colored -->
 
  </div>
  <div class="col-sm-3">
 
    <!-- normal -->
    <div class="ih-item circle effect3 left_to_right"><a href="#">
        <div class="img"><%= image_tag("8.jpg", :alt => "Sorry, could nor load image!") %></div>
        <div class="info">
          <h3 style="color:white">P. S. Ramaraju</h3>
          <p>IMT2014038</p>
        </div></a></div>
    <!-- end normal -->
 
  </div>
  <div class="col-sm-3">
 
    <!-- colored -->
    <div class="ih-item circle colored effect3 left_to_right"><a href="#">
        <div class="img"><%= image_tag("9.jpg", :alt => "Sorry, could nor load image!") %></div>
        <div class="info">
          <h3 style="color:white">R. Vineet Reddy</h3>
          <p>IMT2014045</p>
        </div></a></div>
    <!-- end colored -->
 
  </div>
</div>
</div>
</div>
<!-- end Left to right-->
