<div class="jumbotron abc">
<%= link_to "New Post", new_post_path %>
<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title, post %>
  </h2>
  Published at
  <%= time_ago_in_words(post.created_at) %>
  by
  <%= post.user.email %>
  <% # to add email error as no email %>
<% end %>
</div>
