
<div class="jumbotron abc">
<h2>Posts</h2>
<hr class="featurette-divider1">
<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title, post %>
  </h2>
  Published at
  <%= time_ago_in_words(post.created_at) %>
  by
  <%= post.user.name %>
  <% # to add email error as no email %>
<% end %>
<br/>
<%= link_to "New Post", new_post_path, :class => "btn btn-primary" %>
</div>
